<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>

  <appSettings>
    <add key="UiTestBrowser" value="Chrome" />
    <!--<add key="UiTestBrowser" value="FireFox" />-->
    <!--<add key="UiTestBrowser" value="InternetExplorer" />-->

    <!--<add key="UiTestMainSiteUrl" value="http://localhost:81/" />
    <add key="OutboundSalesSiteBaseUrl" value="local dev environment won't support an OBS test, since both the main site and OBS cannot be set up at the same time" />
    <add key="IBrokerService.Url" value="http://localhost/Satsuma/Pfg.OnlineLoans.BrokerService.Host/BrokerService.svc" />

   <add key="UiTestMainSiteUrl" value="https://satzorapp2.ho.pfgroup.provfin.com/" />    
    <add key="OutboundSalesSiteBaseUrl" value="http://satzorout2.ho.pfgroup.provfin.com/" />
    <add key="IBrokerService.Url" value="http://hotstsatzorapp2:8100/Pfg.OnlineLoans.BrokerService.Host/BrokerService.svc" />-->

   <add key="UiTestMainSiteUrl" value="https://satzorapp7.ho.pfgroup.provfin.com/" />
    <add key="OutboundSalesSiteBaseUrl" value="http://satzorapp7.ho.pfgroup.provfin.com/" />
    <add key="IBrokerService.Url" value="http://hotstsatzorapp7:8100/Pfg.OnlineLoans.BrokerService.Host/BrokerService.svc" />
    <!--
      The limit on thread pool size is to do with what a local dev server can handle concurrently... it might be by
      warming up the server or by somehow staggering tests starts we could get this higher 
    -->
    <!--<add key="xunit.maxParallelThreads" value="2" />-->

  </appSettings>

  <specFlow>
    <!--<unitTestProvider name="MSTest"></unitTestProvider>
    <unitTestProvider name="xUnit"></unitTestProvider>-->
    <unitTestProvider name="NUnit"></unitTestProvider>
  </specFlow>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>